# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/settings.json
*.suo
*.user

# Build output
dist/
build/
.next/
out/
